{% extends '__base__.html' %}

{% block title %} {{blog.name}} {% endblock %}

{% block beforeHead %} <link rel="stylesheet" href="/static/style/blog.css"> {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <article class="post">
      <h2 class="post-title">{{blog.name}}</h2>
      <p class="post-meta">posted on {{blog.created_at|datetime}} by {{blog.user_name}}</p>
      <div class="post-content">
        {{blog.html_content|safe}}
      </div>
    </article>
    <hr>
    <div class="comments">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You:</h3>
        </div>
        <div class="panel-body">
          <form class="comments-form">
            <fieldset>
              <div class="form-group">
                <textarea id="inputComments" class="form-control" name="comments" cols="30" rows="8" placeholder="leave your comments ..."></textarea>
              </div>
              <div class="form-group">
                <button class="btn btn-default pull-right" type="submit">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="comment-list">
      {% if comments %}
        {% for comment in comments %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{comment.user_name}}</h3>
            </div>
            <div class="panel-body">
              {{comment.content}}
            </div>
          </div>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block inlineScript %}
$(document).ready(function() {
$('.comments-form').on('click', 'button[type=submit]', function(e) {
e.preventDefault();

$('.comments-form fieldset').prop('disabled', true);

var data = {
  blog_id: '{{blog.id}}',
  content: $('#inputComments')[0].value.trim()
};

$.ajax({
  type: 'POST',
  url: '/api/comments',
  dataType: 'json',
  data: data
  }).then(function(data, status) {
    console.log(data, status);
    $('.comments-form fieldset').prop('disabled', false);
    $('#inputComments')[0].value = '';
    $('.comment-list').prepend(
      '<div class="panel panel-default">' +
        '<div class="panel-heading">' +
          '<h3 class="panel-title">' + data.user_name + '</h3>' +
        '</div>' +
        '<div class="panel-body">' +
          data.content +
        '</div>' +
      '</div>'
    );
  });
});
});
{% endblock %}
