{% extends '__base__.html' %}

{% block title %} Articles {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-8 blog-main">
    {% for blog in blogs %}
      <article class="blog-post">
        <h2 class="blog-post-title"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h2>
        <p class="blog-post-meta">
        posted on {{blog.created_at|datetime}} by {{blog.user_name}} <span class="badge">{{blog.clicked}}</span> click, <span class="badge">{{blog.comment_count}}</span> Comments
        </p>
        <p class="blog-post-summary">{{blog.summary}}</p>
        <p><a href="/blog/{{blog.id}}">continue reading</a></p>
      </article>
      <hr>
    {% endfor %}
    <nav>
      <ul class="pager">
        {% if prev_page %}
          <li class="previous"><a href="/?page={{prev_page}}" role="button"><span aria-hidden="true">&larr; newer</span></a></li>
        {% endif %}
        {% if next_page %}
          <li class="next"><a href="/?page={{next_page}}" role="button"><span aria-hidden="true">&rarr; older</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
      <h4>Sidebar</h4>
      <ol>
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
