{% extends '__base__.html' %}

{% block title %} Register {% endblock %}

{% block beforeHead %} <link rel="stylesheet" href="static/style/register.css"> {% endblock %}

{% block content %}
<form class="form-register">
  <h2 class="form-register-heading">Register</h2>
  <label class="sr-only" for="inputEmail">Email address</label>
  <input name="email" id="inputEmail" class="form-control" type="email" placeholder="Email Address" required autofocus>
  <label class="sr-only" for="inputUsername">Username</label>
  <input name="username" id="inputUsername" class="form-control" type="text" placeholder="Username" required>
  <label class="sr-only" for="inputPassword">Password</label>
  <input name="password" id="inputPassword" class="form-control" type="password" placeholder="Password" required>
  <label class="sr-only" for="inputPasswordAgain">Password Again</label>
  <input id="inputPasswordAgain" class="form-control" type="password" placeholder="Password Again" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>
{% endblock %}

{% block inlineScript %}
$(document).ready(function() {
$('form').on('submit', function(e) {
  e.preventDefault();
  var data = {
    email: $('#inputEmail')[0].value.trim().toLowerCase(),
    name: $('#inputUsername')[0].value.trim(),
    passwd: $('#inputPassword')[0].value
  };

  if(!data.email) {
    console.log('Email is required');
    return;
  }

  if(!data.name) {
    console.log('Username is required');
    return;
  }

  if(!data.passwd) {
    console.log('Password is required');
    return;
  }

  if(data.passwd !== $('#inputPasswordAgain')[0].value) {
    console.log('password must be the same');
    return;
  }

  data.passwd = CryptoJS.SHA1(data.email + ':' + data.passwd).toString()

  $.ajax({
    method: 'POST',
    url: '/api/users',
    data: data
    }).then(function(data, status) {
      console.log(data, status);
      window.location = '../';
    });
}) 
})
{% endblock %}
