.form-register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-register input {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-register input:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.form-register input:last-of-type {
  margin-bottom: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
